bpm_credit_process/SOA/WSDLs/CreditProcess.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/CreditProcess" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:tns6="http://www.credit.com/co/com/credit"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/CreditProcess" >
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/CreditProcess">
            <xsd:import namespace="http://www.credit.com/co/com/credit" schemaLocation="../Schemas/co/com/credit/credit_process_objects.xsd"/>
            <xsd:element name="aprobacionManualServiceResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:creditResponseManual"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="aprobacionService">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:creditRequest"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="aprobacionAutomaticaServiceResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:CreditResponseAutomatica"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="aprobacionManualServiceResponse">
        <wsdl:part name="parameters" element="tns:aprobacionManualServiceResponse"/>
    </wsdl:message>
    <wsdl:message name="aprobacionService">
        <wsdl:part name="parameters" element="tns:aprobacionService"/>
    </wsdl:message>
    <wsdl:message name="aprobacionAutomaticaServiceResponse">
        <wsdl:part name="parameters" element="tns:aprobacionAutomaticaServiceResponse"/>
    </wsdl:message>
    <wsdl:portType name="CreditProcessPortType">
        <wsdl:operation name="aprobacionService">
            <wsdl:input message="tns:aprobacionService"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="CreditProcessPortTypeCallBack">
        <wsdl:operation name="aprobacionAutomaticaService">
            <wsdl:input message="tns:aprobacionAutomaticaServiceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="aprobacionManualService">
            <wsdl:input message="tns:aprobacionManualServiceResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <plnk:partnerLinkType name="CreditProcessPortTypePartnerLinkType">
        <plnk:role name="CreditProcessPortTypeProvider">
            <plnk:portType name="tns:CreditProcessPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>
